<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" rel="stylesheet" href="../css/proy-app.css"/>
    <title>🏔️ Portafolio Martin Batarev</title>
</head>
<div id="contenedorCargador" class="contpreloader">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
<body>
  <div id="index-banner" class="parallax-container">
    <div class="section scrollspy no-pad-bot" id="par_inicio">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-1"><b>Dashboard y App de Cuentas Corrientes en GAS</b></h1>
        <div class="row center">
          <h5 class="header col s12 light blue-grey-text darken-4-text">Dashboard en Looker y Aplicación para el seguimiento de cuentas corrientes desarrollado con Google Apps Scripts.</h5>
        </div>
        <div class="row center">
          <a href="#seccion1"  class="btn-large waves-effect waves-light teal lighten-1">
            <i class="material-icons left">arrow_downward</i>Ver Mas</a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax responsive-img"><img src="../assets/img/bannerme_5.jpeg" id="img_paral" alt="Unsplashed background img 1"></div>
  </div>
   <!--Menu de opciones-->
   <div class="fixed-action-btn click-to-toggle">
    <a class="btn-floating btn-large cyan darken-1">
      <i class="large material-icons">menu</i>
    </a>
    <ul>
      <li><a href="/index.html" class="btn-floating blue lighten-1 btn tooltipped" data-position="left" data-tooltip="Volver al Inicio"><i class="material-icons">keyboard_return</i></a></li>
      <li><a href="#par_inicio" class="btn-floating blue-grey darken-2 btn tooltipped" data-position="left" data-tooltip="Subir"><i class="material-icons">arrow_upward</i></a></li>
    </ul>
  </div>
<main>    
  <div class="container">
    <!--ícono de Paracaidas-->
    <div id="iconBackTag">
      <i class="large material-icons right" >paragliding</i>
      <div id="boxParaIco" class="waves-effect waves-light card teal lighten-2 white-text pulse center-align">
      PROYECTO DE BUSINESS INTELLIGENCE Y ERP</div>
    </div>
    <div class="row">
      <br>
      <div class="col s12 m12 l12 teal lighten-4">
        <blockquote>
          <b>Herramientas: </b> Google Apps Script - Google Sheets - HTML - CSS - Javascript - Google Looker Studio.
        </blockquote>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="divider"></div>
        <div class="section scrollspy" id="seccion1">
          <h5 class="header">Introducción y Objetivo:</h5>
          <div class="row">
            <div class="col s12 m12 l12">
              <p>El proyecto tenía por objetivo mejorar la gestión administrativa de las cuentas corrientes del cliente.
                Antes del proyecto, la gestión se encontraba en multiples hojas de cálculo, con comentarios del personal
                 administrativo sueltos en cada uno lo cuál dificultaba su visualización. Además se trabajaba mes a més 
                 y al no contar con la información sobre la gestión agrupada en una sola fuente de información, no se 
                 conocía como evolucionaba la gestión. </p><p>La finalidad del proyecto entonces, se enfocó en lograr un unico 
                 punto donde consular la gestión de seguimiento de cuentas corrientes, y en desarrollar un dashboard donde
                 consultar el estado de la gestión a lo largo del tiempo.
                 </p>
            </div>
          </div>
        </div>
      <div class="divider"></div>
        <div class="section">
          <h5 class="header">Procesamiento de tabla de comentarios:</h5>
          <div class="row">
            <div class="col s12 m12 l12">
             <p>La organización descarga su reporte mensual en formato de hoja de cálculo. Debido a que el volúmen
               de comentarios mensuales no supera los 500, se decidió armar una tabla detallada en Google Sheets
                con los mismos campos que se venían usando y dos adicionales: uno con el id de comentario y otro
                 con el período en formato MM-AAAA (mes y año). </p>
              <p>En primer lugar, se creó el script que conecta el proceso de importación con el reporte guardado en Google Drive:</p> 
            </div>
            <div class="col s12 m10 offset-m1 l10 offset-l1">
              <img class="responsive-img materialboxed" src="/public/assets/img/portafolio-img/gestion-ctas-ctes/cod1.png">
            </div>
            <div class="col s12 m12 l12">
              <p>Con el arreglo final generado, solo se agregaron los datos en la hoja base de comentarios con la instrucción
                 "set values" de Apps Scripts.</p>
                <p>Como la función usada recorría todos los registros se la utilizó, además, para generar las filas
                   que se agregarían a la hoja de estadísticas. Se fueron acumulando de manera que quedaran los 
                   siguientes campos: </p>
               <ol>
                  <li>periodoEstad: Periodo mes-año cuyos datos se están agrupando. </li>
                  <li>id_total: Cantidad de clientes activos y con deuda en el periodo procesado. </li>
                  <li>id_comentarios: Cantidad de comentario de gestión realizados en el periodo procesado. </li>
                  <li>nombreTipo: Segmento dentro del que se encuentra el cliente al momento del procesamiento. </li>
                  <li>region22: Región dentro en la que se encuentra el cliente al momento del procesamiento. </li>
                  <li>Fecha_ahora: Fecha y hora en la que se genera la importación y procesamiento.  </li>
                </ol>
                <p>Con este proceso se logra importar los datos del reporte mensual que se esta analizando, a 
                  la base de comentarios de meses ya importados. Adicionalmente,se completa la base de 
                  estadísticas mensuales, que se usa como base para la creación del dashboard.</p>
            </div>
          </div>  
        </div>
        <div class="divider"></div>
        <div class="section">
          <h5 class="header">Visualización de Datos:</h5>
          <div class="row">
            <div class="col s12 m12 l12">
              <p>La visualización de los comentarios benefició la gestión al permitir una visión global de el 
                estado de las cuentas corrientes y su gestión.  La parte orientada al análisis
                 de datos, además del preprocesamiento detallado en el párrafo anterior,  incluyó la creación del
                  dashboard. Para este fin se utilizó Google Looker Studio. </p>
              <p>Primero se creó la conexión con la base de comentarios. Se ingresó a la consola de Looker Studio
                 y se creó la nueva conexión a la hoja de cálculo de Google brindando los permisos respectivos. 
                 Creada la conexión, se procedió a generar la visualización. </p>    
               <p>El dashboard constaba de dos páginas.</p> 
               <br>
              <h6>Página Uno:</h6>
            </div>
            <div class="col s12 m12 l6">
              <p>Se crearon tres segmentaciones (periodo desde-hasta, región de análisis, y estado de vencimiento)
                 desde las que se podían modificar y actualizar dinámicamente las visualizaciones. </p>
               
            </div>
            <div class="col s12 m10 offset-m1 l5 offset-l1">
               <img class="responsive-img materialboxed" src="/public/assets/img/portafolio-img/gestion-ctas-ctes/kpi1Cment (1).png">
            </div>
            <div class="col s12 m12 l12">
              <p>Se desarrollaron tres KPI: uno que indicaba el total de clientes procesados, otro la cantidad de
                comentarios realizados y, por último, el porcentaje de comentarios sobre el total de clientes procesados,
                 lo que se llamó porcentaje de gestión.</p>
              <p>Se agregó un gráfico de barras (histograma). En el eje X se muestran los períodos bajo el formato mes-año. 
                En el eje Y, se muestra la cantidad de comentarios y el total de clientes procesados, ambos valores en la 
                misma barra para mostrar, del total, qué parte tenía gestión con comentarios.</p>
            </div>
            <div class="col s12 m10 offset-m1 l8 offset-l2">
              <img class="responsive-img materialboxed" src="/public/assets/img/portafolio-img/gestion-ctas-ctes/kpi3Cment5.png">
            </div>
            <div class="col s12 m12 l12">
              <p>Se creó un histograma adicional, donde mostrar la evolución de comentarios mes a mes.</p>
            </div>
            <div class="col s12 m10 offset-m1 l8 offset-l2">
              <img class="responsive-img materialboxed" src="/public/assets/img/portafolio-img/gestion-ctas-ctes/kpi3Cment (1).png">
            </div>
            <div class="col s12 m12 l12">
              <p>Por último se agrego una tabla de datos, donde se resumen los datos que reflejan los
                 gráficos pero de una forma solo numérica.</p>
            </div>
            <div class="col s12 m10 offset-m1 l8 offset-l2">
              <img class="responsive-img materialboxed" src="/public/assets/img/portafolio-img/gestion-ctas-ctes/kpi4Cment (1).png">
              
            </div>
            <div class="col s12 m12 l12">
              <br>
              <h6>Página Dos:</h6>
            </div>
            <div class="col s12 m12 l6">
              <p>La pagina dos se dejo para incorporar un mapa del país donde se encuentran las regiones de los diferentes 
                clientes. Se marcó cada región con burbujas cuyo tamaño y color varian en función de la cantidad de 
                clientes y la cantidad de comentarios que tenía cada una. Cuanto más grande la burbuja, más clientes, y
                 cuanto más intenso su color, mas comentarios existentes.</p> 
            </div>
            <div class="col s12 m10 offset-m1 l4 push-l1">
               <img class="responsive-img materialboxed" src="/public/assets/img/portafolio-img/gestion-ctas-ctes/kpi5Cment.png">
            </div>
             
          </div>  
        </div>       
        <div class="divider"></div>
        <div class="section">
          <h5 class="header">Conclusión del Proyecto</h5>
          <div class="row">
            <div class="col s12 m12 l12">
              <p>De esta forma la organización cuenta con una herramienta que le permite visualizar 
                la gestión de sus cuentas corrientes de forma global, identificando como se trabaja 
                en el sector a lo largo del año.  </p>
                <p>A partir del dashboard se pudo observar que el volumen de cuentas se intensifica 
                  en regiones como las de Bahía Blanca. Además, el bajo porcentaje de gestión refleja
                   una falta de personal de algunas regiones, y la urgente necesidad de valuar en términos
                    numéricos la pérdida generada por las deudas atrasadas. </p>
                <p>Todas las herramientas utilizadas son de acceso gratuito, solo es necesario tener una cuenta de Google.</p>
            </div>
          </div>
        </div> 
        <div class="divider"></div>
        <a class="waves-effect waves-teal btn-flat right" href="/index.html"><b>Volver al Home</b></a>
      </div>
    </div>
  </div>
</main>
<footer class="page-footer teal darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">¡Antes que nada...Gracias!</h5>
        <p class="grey-text text-lighten-4">Si llegaste hasta acá, es porque te tomaste el tiempo para ver mi portafolio. En estos tiempos tan acelerados, en los que nos cuesta parar un poco, solamente puedo decirte gracias por tu visita.</p>
        <text class="right" id="mi_mirm"><b>Martin.</b></text>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links de Interés</h5>
        <ul>
          <li>
            <div id="icon-redes22">
              <a class="white-text" href="https://www.linkedin.com/in/martin-batarev-9a48b849/" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
              </svg></a>
              <a class="white-text" href="https://github.com/martinbat89" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                </svg>
              </a>
            </div>
          </li>
          <li><h6><a class="grey-text text-lighten-3 teal darken-2 btn tooltipped" id="resumeImg2" data-position="bottom" data-tooltip="Descargá mi Curriculum Vitae en formato PDF (Español)"><i class="material-icons left">file_download</i>Descarga Mi CV En Español</a></h6></li>
          <li><h6><a class="grey-text text-lighten-3 teal darken-2 btn tooltipped" id="resumeImg3" data-position="bottom" data-tooltip="Descargá mi Curriculum Vitae en formato PDF (Inglés)"><i class="material-icons left">file_download</i>Descarga Mi CV En Inglés</a></h6></li>
        </ul>
      </div>
      
    </div>
  </div>
  <div class="footer-copyright teal darken-3">
    <div class="container">
    Portafolio de Martin Batarev
    <b><a class="grey-text text-lighten-4 right" href="#par_inicio">Volver al Principio</a></b>
    </div>
  </div>
</footer>

  
    <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="../js/materialize.min.js"></script>
  <script type="text/javascript" src="../js/proy-app.js"></script>
</body>
</html>